<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Cornerstone" %></title>
    <%= stylesheet_link_tag "site", :relative => true %>
    <%= javascript_include_tag "site", :relative => true %>
  </head>
  <body>
    <textarea id="source">
      <%= yield %>
    </textarea>
    <script type="text/javascript">
      var slideshow = remark.create({
        navigation: {scroll: false,},
      });
    </script>
  </body>
</html>
