body {
  color: #fff;
  font-family: Verdana,Geneva,sans-serif; }

h1, h2, h3 {
  color: #ddd;
  font-family: Georgia,Utopia,Charter,serif;
  font-weight: normal; }

p {
  font-size: 42px; }

.remark-code, .remark-inline-code {
  font-family: 'Courier New',Courier,monospace; }

.remark-slide-content {
  background-color: #000;
  text-align: center; }

.remark-slide-scaler {
  width: 100% !important;
  height: 100% !important;
  transform: none !important;
  left: 0px !important;
  top: 0px !important; }
