---
layout: index
title: Cornerstone Music Slides
---

<div>
  <img class="logo" src="images/cornerstone-logo-title-555x353.png">
</div>
<div class="spacer">
  <%= link_to(
    'Start Presentation',
    '/current.html',
    :class => 'btn',
    :relative => true
  )%>
</div>
<h1>
  Slide Controls
</h1>
<div class="container">
  <ul>
    <li>f: Toggle Fullscreen</li>
    <li>b: Toggle blackout mode</li>
    <li>c: Create a clone presentation on a new window</li>
    <li>p: Toggle PresenterMode</li>
    <li>t: Reset presentation timer</li>
    <li>1-9: Jump to slide #</li>
    <li>h or ?: Toggle the help window</li>
  </ul>
</div>
