---
layout: false
title: Cornerstone Music Slides
---

<center>
  <h1>
    Cornerstone Fellowship
  </h1>
  <p>
    Press F11 to make this presentation full-screen.
  </p>

<%= link_to(
  "Start Presentation",
  "/presentations/2017-05-14.html"
) %>
</center>
